<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{'UserCollection' | transloco}}</mat-card-title>
        <mat-card-subtitle>{{currentMode | transloco}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{'Header' | transloco}}</mat-panel-title>
                    <mat-panel-description>{{'HeaderInfo' | transloco}}<mat-icon>public</mat-icon></mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="itemFormGroup">
                    <!-- ID -->
                    <mat-form-field appearance="fill" class="control-full-width">
                        <mat-label>#</mat-label>
                        <input matInput type="text" placeholder="ID" formControlName="idControl">
                    </mat-form-field>

                    <!-- User -->
                    <mat-form-field appearance="fill" class="control-full-width">
                        <mat-label>User</mat-label>
                        <input matInput type="text" placeholder="User" formControlName="userControl">
                        <mat-hint align="start">{{'Common.DisplayAs' | transloco}}: <strong>{{userDisplayAs}}</strong> </mat-hint>
                    </mat-form-field>

                    <!-- Name -->
                    <mat-form-field appearance="fill" class="control-full-width">
                        <mat-label>{{'Common.Name' | transloco}}</mat-label>
                        <input matInput type="text" placeholder="Name" formControlName="nameControl">
                    </mat-form-field>

                    <!-- Comment -->
                    <mat-form-field appearance="fill" class="control-full-width">
                        <mat-label>{{'Common.Comment' | transloco}}</mat-label>
                        <input matInput type="text" placeholder="Comment" formControlName="commentControl">
                    </mat-form-field>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="!isCreateMode && itemObject">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{'Administrative' | transloco}}</mat-panel-title>
                    <mat-panel-description>{{'AdministrativeInfo' | transloco}}<mat-icon>info</mat-icon></mat-panel-description>
                </mat-expansion-panel-header>

                <!-- Administrive fields -->
                <div class="control-full-width row">
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="control-full-width">
                            <mat-label>{{'CreatedAt' | transloco}}</mat-label>
                            <input matInput type="text" disabled placeholder="{{'CreatedAt' | transloco}}" [ngModel]="itemObject.CreatedAt | date: 'yyyy-M-d HH:mm:ss'">
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field appearance="fill" class="control-full-width">
                            <mat-label>{{'ModifiedAt' | transloco}}</mat-label>
                            <input matInput type="text" disabled placeholder="{{'ModifiedAt' | transloco}}" [ngModel]="itemObject.ModifiedAt | date: 'yyyy-M-d HH:mm:ss'">
                        </mat-form-field>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Items -->
        <div *ngIf="!isCreateMode">
            <mat-toolbar-row>
                <span class="toolbar-spacer"></span>
                <section>
                    <!-- <button mat-icon-button color="primary" (click)="onCreateItem()" matTooltip="{{'Common.Create' | transloco}}">
                        <mat-icon>add_circle</mat-icon>
                    </button> -->
                </section>
            </mat-toolbar-row>
                
            <div class="example-container mat-elevation-z8">
                <div class="example-table-container">
                    <table mat-table [dataSource]="dataSource" class="example-table">
                        <!-- RefID Column -->
                        <ng-container matColumnDef="refid">
                            <th mat-header-cell *matHeaderCellDef>ID</th>
                            <td mat-cell *matCellDef="let row">
                                {{row.RefID}}
                                <button mat-icon-button color="primary" (click)="onDisplayExerciseItem(row.RefID)" matTooltip="{{'Common.Display' | transloco}}">
                                  <mat-icon>launch</mat-icon>
                                </button>
                                <button mat-icon-button color="accent" (click)="onChangeExerciseItem(row.RefID)" matTooltip="{{'Common.Change' | transloco}}">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="onDeleteCollItem(row)" matTooltip="{{'Common.Delete' | transloco}}">
                                  <mat-icon>remove_circle</mat-icon>
                                </button>    
                            </td>
                        </ng-container>

                        <!-- Ref. type -->
                        <ng-container matColumnDef="reftype">
                            <th mat-header-cell *matHeaderCellDef>{{'Type' | transloco}}</th>
                            <td mat-cell *matCellDef="let row">{{getTagReferenceTypeName(row.RefType) | transloco}}</td>
                        </ng-container>
                            
                        <!-- Created At Column -->
                        <ng-container matColumnDef="createdat">
                            <th mat-header-cell *matHeaderCellDef>{{'Quiz.Date' | transloco}}</th>
                            <td mat-cell *matCellDef="let row">{{row.CreatedAt | date: 'yyyy-M-d HH:mm:ss'}}</td>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onOK()" [disabled]="!(isEditable && itemFormGroup.valid)">{{'Save' | transloco}}</button>
        <button mat-button (click)="onReturnToList()">{{'Common.ReturnToList' | transloco}}</button>
        <button mat-button (click)="onCreateNewOne()" [disabled]="!isDisplayMode">{{'Common.CreateAnotherOne' | transloco}}</button>
    </mat-card-actions>
</mat-card>
