<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'Quiz.Summary' | transloco }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="control-full-width">
      <h3>
        <span>{{ 'Quiz.Score' | transloco }}: </span>
        <span>{{ totalScore | number:'.2' }}</span>
      </h3>
    </div>
    <div class="control-full-width">
      <h3>
        <span>{{ 'Quiz.AvgTimeSpentEachInSeconds' | transloco }}: </span>
        <span>{{ totalAvgTime | number:'.2' }}</span>
      </h3>
    </div>
    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table">
        <!-- ID Column -->
        <ng-container cdkColumnDef="secid">
          <mat-header-cell *cdkHeaderCellDef>#</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{ row.sectionid }} </mat-cell>
        </ng-container>

        <!-- Total count Column -->
        <ng-container cdkColumnDef="totalcnt">
          <mat-header-cell *cdkHeaderCellDef>{{'Quiz.Total' | transloco}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{ row.totalcnt }} </mat-cell>
        </ng-container>

        <!-- Failed Column -->
        <ng-container cdkColumnDef="failedcnt">
          <mat-header-cell *cdkHeaderCellDef>{{ 'Quiz.Failure' | transloco }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{ row.failedcnt }} </mat-cell>
        </ng-container>

        <!-- Timespent Column -->
        <ng-container cdkColumnDef="timespent">
          <mat-header-cell *cdkHeaderCellDef>{{ 'Quiz.TimeSpentInSeconds' | transloco }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{ row.timespent | number:'.2' }} </mat-cell>
        </ng-container>

        <!-- TimespentEach Column -->
        <ng-container cdkColumnDef="avgtimespent">
          <mat-header-cell *cdkHeaderCellDef>{{ 'Quiz.AvgTimeSpentEachInSeconds' | transloco}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{ row.avgtimespent | number:'.2' }} </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button routerLink="/quiz-summary">{{'Quiz.DisplayAllResult' | transloco}}</a>
  </mat-card-actions>  
</mat-card>
