.control-full-width {
  width: 100%;
}

.example-container {
  position: relative;
  min-height: 200px;
}
      
.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
      
table {
  width: 100%;
  overflow: auto;
}
