ul {
    width: 100%;
    padding: 16px;
}

ul li {
    padding: 8px;
}

mat-form-field {
    width: 100%;
}

.button-row {
    margin: auto;   
    width: 80%;
}

.button-row button {
    margin: 8px;
}
