
.button-row {
    // margin: auto;
    // width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;    
}

.button-row button {
    margin: 16px;
}

.input-fontsize {
    margin-left: 24px;
    width: 100px;
}

mat-slide-toggle {
    width: 80px;  
}
mat-slider {
    margin-left: 8px;
    width: 80px;
}

.success-score {
    color: green;
    font-size: 16px;
} 
.fail-score {
    color: red;
    font-size: 16px;
}