<div class="button-row">
    <button mat-raised-button (click)="onPreviousPreviewItem()" [disabled]="!isPreviousButtonEnabled">{{'Common.Previous' | transloco}}</button>
    <button mat-raised-button (click)="onNextPreviewItem()" [disabled]="!isNextPreviewButtonEnabled">{{'Common.Next' | transloco}}</button>
</div>

<mat-divider></mat-divider>

<div *ngIf="selectedObj && selectedObj.refType === 1 && selectedKnowledge" style="margin: 8px;">
    <!-- Knowledge Item-->
    <div class="control-full-width"><span>ID: </span>{{selectedKnowledge.ID}}</div>
    <mat-divider></mat-divider>
    <div class="control-full-width"><span>{{'Title' | transloco}}: </span>{{selectedKnowledge.Title}}</div>
    <mat-divider></mat-divider>
    <div class="control-full-width">
        <markdown emoji [data]="selectedKnowledge.Content" katex [katexOptions]="mathOptions"></markdown>
    </div>
</div>

<div *ngIf="selectedObj && selectedObj.refType === 2 && selectedExercise" style="margin: 8px;">
    <!-- Exercise Item-->
    <div class="control-full-width"><span>ID: </span>{{selectedExercise.ID}}</div>
    <mat-divider></mat-divider>
    <div class="control-full-width"><span>{{'Tags' | transloco}}: </span>{{selectedExercise.Tags.toString()}}</div>
    <mat-divider></mat-divider>
    <div class="control-full-width">
        <markdown emoji [data]="selectedExercise.Content" katex [katexOptions]="mathOptions"></markdown>
    </div>
</div>

<mat-divider></mat-divider>

<div class="button-row">
    <button mat-raised-button (click)="onPreviousPreviewItem()" [disabled]="!isPreviousButtonEnabled">{{'Common.Previous' | transloco}}</button>
    <button mat-raised-button (click)="onNextPreviewItem()" [disabled]="!isNextPreviewButtonEnabled">{{'Common.Next' | transloco}}</button>
</div>
