
.button-row {
    // margin: auto;
    // width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;    
}

.button-row button {
    margin: 16px;
}

.input-fontsize {
    margin-left: 24px;
    width: 100px;
}
