<mat-toolbar-row>
  <span><h1>{{'UserCollections' | transloco}}</h1></span>
  <span class="toolbar-spacer"></span>
  <section>
    <button mat-icon-button color="primary" [disabled]="!isExpertMode" routerLink="create" matTooltip="{{'Common.Create' | transloco}}">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="onGoToSearch()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Search' | transloco}}">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | transloco}}">
      <mat-icon>refresh</mat-icon>
    </button>
  </section>
</mat-toolbar-row>

<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="example-table" matSort (matSortChange)="resetPaging()">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          <div>
            {{row.ID}}
            <button mat-icon-button color="primary" [disabled]="!isExpertMode" routerLink="display/{{row.ID}}" matTooltip="{{'Common.Display' | transloco}}">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="accent" [disabled]="!(isExpertMode && row.Items && row.Items.length > 0)" (click)="onPreview(row.ID)" matTooltip="{{'Common.Preview' | transloco}}">
              <mat-icon>slideshow</mat-icon>
            </button>
            <button mat-icon-button color="accent" [disabled]="!isExpertMode" routerLink="edit/{{row.ID}}" matTooltip="{{'Common.Change' | transloco}}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" [disabled]="!isExpertMode" (click)="onDeleteItem(row.ID)" matTooltip="{{'Common.Delete' | transloco}}">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'Common.Name' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.Name}}</td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>{{'Common.Comment' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.Comment}}</td>
      </ng-container>
      
      <!-- Created At Column -->
      <ng-container matColumnDef="createdat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedAt' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.CreatedAt | date: 'yyyy-M-d HH:mm:ss'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>
  