:host,
.vocabulary-page {
    // Ensures that the footer is pushed to the bottom if the page is too short.
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.vocabulary-page-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.control-full-width {
    width: 100%;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

result-content {
    width: 100%;
    margin: 24px;
}
