:host,
.vocabulary-page {
    // Ensures that the footer is pushed to the bottom if the page is too short.
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.vocabulary-page-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.page-toolbar-item {
    margin-top: 4px;
    padding-top: 4px;
}

.control-full-width {
    width: 100%;
}

.vocabulary-typing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.vocabulary-typing-input-container {
    font-family: "Consolas";
    font-size: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}

.vocabulary-typing-input-character {
    white-space: pre-wrap;
    /* 允许空格换行 */
    flex-shrink: 0;
    display: inline-block;
    /* 可选，根据内容调整宽度 */
}

.vocabulary-typing-explain {
    font-size: 36px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}

.toolbar-fab-button {
  margin-right: 4px;
  margin-left: 4px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 56px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

result-content {
    width: 100%;
    margin: 24px;
}

th.mat-sort-header-sorted {
    color: black;
}
