<div *transloco="let t">
  <h2 mat-dialog-title>{{ t('vocabularyExercises.editWordFilter') }}</h2>
  <mat-dialog-content>
    @for (c of conditions(); track $index) {
      <div class="condition-row">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select [(ngModel)]="c.operator">
            @for (op of wordOperators; track op.value) {
              <mat-option [value]="op.value">{{ t('vocabularyExercises.' + op.labelKey) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" class="condition-text">
          <input matInput required [(ngModel)]="c.text" #textModel="ngModel"
            [disabled]="isPhraseOp(c.operator)" />
          @if (textModel.invalid && (textModel.dirty || textModel.touched)) {
            <mat-error>{{ t('vocabularyExercises.filterTextRequired') }}</mat-error>
          }
        </mat-form-field>
        <button mat-icon-button type="button" (click)="onRemoveCondition($index)"
          [attr.aria-label]="t('vocabularyExercises.filterClear')">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
    <button mat-stroked-button type="button" (click)="onAddCondition()">
      <mat-icon>add</mat-icon>
      {{ t('vocabularyExercises.addCondition') }}
    </button>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{ t('vocabularyExercises.cancel') }}</button>
    <button mat-button (click)="onClose()" cdkFocusInitial [disabled]="hasEmptyCondition()">{{ t('close') }}</button>
  </mat-dialog-actions>
</div>
