<mat-toolbar-row>
    <span>{{'ExerciseItem' | transloco}}</span>
    <span class="toolbar-spacer"></span>
    <section>
        <a mat-stroked-button routerLink="create">{{'Common.Create' | transloco}}</a>
        <a mat-stroked-button (click)="onGoToPreview()" [disabled]="dataSource.length <= 0">{{'Common.Preview' | transloco}}</a>
        <a mat-stroked-button (click)="onRefreshList()">{{'Common.Refresh' | transloco}}</a>
    </section>
</mat-toolbar-row>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-progress-spinner *ngIf="isLoadingResults"></mat-progress-spinner>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="createdat" (matSortChange)="resetPaging()">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">
                    <div>
                        {{row.ID}}
                        <a mat-button routerLink="display/{{row.ID}}">{{'Common.Display' | transloco}}</a>
                        <a mat-button routerLink="edit/{{row.ID}}">{{'Common.Change' | transloco}}</a>
                        <a mat-button (click)="onDeleteItem(row.ID)">{{'Common.Delete' | transloco}}</a>
                    </div>
                </td>
            </ng-container>

            <!-- Item Type Column -->
            <ng-container matColumnDef="itemtype">
                <th mat-header-cell *matHeaderCellDef>{{'Type' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{getExerciseItemTypeName(row.ItemType) | transloco}}</td>
            </ng-container>

            <!-- Tags -->
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef>{{'Tag' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.Tags.toString()}}</td>
            </ng-container>
            
            <!-- Knowledge Item -->
            <ng-container matColumnDef="knowledgeitem">
                <th mat-header-cell *matHeaderCellDef>{{'KnowledgeItem' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.KnowledgeItemID}}</td>
            </ng-container>

            <!-- Created At -->
            <ng-container matColumnDef="createdat">
                <th mat-header-cell *matHeaderCellDef>{{'CreatedAt' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.CreatedAt | date: 'yyyy-M-d HH:mm:ss'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>
