<mat-toolbar-row>
    <span>{{'ExerciseItem' | transloco}}</span>
    <span class="toolbar-spacer"></span>
    <section>
        <button mat-icon-button color="primary" [disabled]="!isExpertMode" routerLink="create" matTooltip="{{'Common.Create' | transloco}}">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button color="accent" style="margin-left: 12px" (click)="onGoToSearch()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Search' | transloco}}">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="accent" style="margin-left: 12px" [disabled]="!isExpertMode" routerLink="score" matTooltip="{{'PracticeHistories' | transloco}}">
            <mat-icon>recent_actors</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="onGoToPreview()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Preview' | transloco}}">
            <mat-icon>slideshow</mat-icon>
        </button>
        <button mat-icon-button color="accent" style="margin-left: 12px" [disabled]="!isExpertMode" (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | transloco}}">
            <mat-icon>refresh</mat-icon>
        </button>
    </section>
</mat-toolbar-row>

<div class="example-container mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="resetPaging()">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">
                    <div>
                        {{row.ID}}
                        <button mat-icon-button color="primary" [disabled]="!isExpertMode" (click)="onDisplayItem(row.ID)" matTooltip="{{'Common.Display' | transloco}}">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onChangeItem(row.ID)" matTooltip="{{'Common.Change' | transloco}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onAddToCollection(row.ID)" matTooltip="{{'AddToCollection' | transloco}}">
                            <mat-icon>add_to_queue</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onNewPractice(row.ID)" matTooltip="{{'NewPractice' | transloco}}">
                            <mat-icon>ballot</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" [disabled]="!isExpertMode" (click)="onDeleteItem(row.ID)" matTooltip="{{'Common.Delete' | transloco}}">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <!-- Item Type Column -->
            <ng-container matColumnDef="itemtype">
                <th mat-header-cell *matHeaderCellDef>{{'Type' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{getExerciseItemTypeName(row.ItemType) | transloco}}</td>
            </ng-container>

            <!-- Tags -->
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef>{{'Tag' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.Tags.toString()}}</td>
            </ng-container>
            
            <!-- Knowledge Item -->
            <ng-container matColumnDef="knowledgeitem">
                <th mat-header-cell *matHeaderCellDef>{{'KnowledgeItem' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.KnowledgeItemID}}</td>
            </ng-container>

            <!-- Created At -->
            <ng-container matColumnDef="createdat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedAt' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.CreatedAt | date: 'yyyy-M-d HH:mm:ss'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>
