<mat-toolbar>
  <h3>AWARD RULE GENERATION</h3>
  <div class="toolbar-spacer"></div>
</mat-toolbar>

<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>HEADER</ng-template>
      <!-- Target user -->
      <mat-form-field class="control-full-width" appearance="fill">
        <mat-label>{{'Award.TargetUser' | transloco}}</mat-label>
        <mat-select required formControlName="targetuserCtrl">
          <mat-option *ngFor="let tu of arTargetUsers" [value]="tu.targetUser">{{tu.displayAs}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Validity range -->
      <mat-form-field appearance="fill">
        <mat-label>{{'Award.Validity' | transloco}}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="validFromCtrl" placeholder="Start date">
        <input matEndDate formControlName="validToCtrl" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
      </mat-form-field>

      <!-- Rule type -->
      <mat-form-field appearance="fill" class="control-full-width">
        <mat-label>{{'Type' | transloco}}</mat-label>
        <mat-select required formControlName="ruleTypeCtrl">
          <mat-option *ngFor="let et of arRuleTypes" [value]="et.value">{{et.i18nterm | transloco}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Desp -->
      <mat-form-field class="control-full-width" appearance="fill">
        <mat-label>{{'Common.Description' | transloco}}</mat-label>
        <input matInput required formControlName="despCtrl">
      </mat-form-field>

      <div>
        <button mat-button color="primary" (click)="onInitialDimensions()" matStepperNext>NEXT</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>DIMENSIONS</ng-template>
      <mat-form-field>
        <mat-label>Dimension</mat-label>
        <input matInput formControlName="rawCtrl">
      </mat-form-field>
      <mat-list dense *ngFor="let dim of dimensions">
        <mat-list-item>{{dim.toString()}}</mat-list-item>
      </mat-list>
      <div>
        <button mat-button matStepperPrevious>BACK</button>
        <button mat-button color="primary" (click)="onDimensionCompleted()" matStepperNext>NEXT</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>DAYS</ng-template>
      <mat-form-field>
        <mat-label>Continued Days</mat-label>
        <input matInput formControlName="rawCtrl">
      </mat-form-field>
      <mat-list dense *ngFor="let cd of contDays">
        <mat-list-item>{{cd.toString()}}</mat-list-item>
      </mat-list>
      <div>
        <button mat-button matStepperPrevious>BACK</button>
        <button mat-button color="primary" (click)="onInitialRules()" matStepperNext>NEXT</button>
      </div>
    </form>
  </mat-step>

  <mat-step [completed]="pointCompleted">
    <ng-template matStepLabel>POINTS</ng-template>
    <mat-toolbar>
      <button mat-raised-button>RESET RULES</button>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="col === 'dimension'">
            DIMENSION
          </span>
          <span *ngIf="col !== 'dimension'">
            {{getColumnHeaderForDays(col)}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="col === 'dimension'">
            {{element.dimInfo.toString()}}
          </span>
          <span *ngIf="col !== 'dimension'">
            <input matInput type="number" [(ngModel)]="element.points[col]" (ngModelChange)="onPointCellChanged($event)">
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>    

    <button mat-button matStepperPrevious>BACK</button>
    <button mat-button color="primary" [disabled]="!pointCompleted" (click)="onSave()" matStepperNext>NEXT</button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>DONE</ng-template>
    <p>Group {{createdGroupID}} is just create done.</p>
    <p>You can either open the group for review or create another one.</p>
    <div>
      <button mat-button (click)="openGroup()">OPEN</button>
      <button mat-button color="warn" (click)="stepper.reset()">CREATE ANOTHER ONE</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

