.exerciseitem-form {
  margin: 8px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-mdc-card-actions {
  margin-top: 10px;
}

.exerciseitem-action-buttons {
  padding-bottom: 20px;
}

.exerciseitem-headers-align {
  margin: 8px;
}
 
.exerciseitem-headers-align .mat-expansion-panel-header-title,
.exerciseitem-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.exerciseitem-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.exerciseitem-headers-align .mat-mdc-form-field + .mat-form-field {
  margin-left: 8px;
}
