<main focusOnNavigation aria-label="Knowledge Bank List" class="knowledge-exercise-list-page" *transloco="let t">
  <div class="knowledge-exercise-list-page-content">
    @if (contentToDisplay === ContentToDisplay.List) {
    <mat-toolbar class="container">
      <mat-toolbar-row>
        <span>
          <h5>{{ t('knowledgeExercises.title') }}</h5>
        </span>
        <span class="toolbar-spacer"></span>
        <mat-form-field class="toolbar-item">
          <mat-label>{{ t('knowledgeExercises.files') }}</mat-label>
          <mat-select matNativeControl [(value)]="selectedFile" (selectionChange)="onFileSelectionChanged($event)"
            [disabled]="isLoadingContents" [placeholder]="isLoadingContents ? t('loading') : t('knowledgeExercises.files')">
            @if (isLoadingContents) {
              <mat-option disabled>
                <mat-spinner diameter="18"></mat-spinner>
                {{ t('loading') }}
              </mat-option>
            }
            <mat-option value="">{{ t('knowledgeExercises.none') }}</mat-option>
            @for (file of allFiles; track file.id ) {
            <mat-option [value]="file">{{file.nameChinese}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <span class="toolbar-item-count" matSuffix><small>{{ t('knowledgeExercises.items') }}: {{itemCount}}</small></span>
        <section style="padding-left: 8px;">
          <div class="example-button-container">
            <button mat-fab [matTooltip]="t('knowledgeExercises.select')" (click)="onSelect()"
              [disabled]="!selectedFile">
              <mat-icon>query_builder</mat-icon>
            </button>
          </div>
        </section>
        <section style="padding-left: 8px;">
          <div class="example-button-container">
            <button mat-fab [matTooltip]="t('knowledgeExercises.print')" (click)="onPreview()"
              [disabled]="selection.isEmpty()">
              <mat-icon>print</mat-icon>
            </button>
          </div>
        </section>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container">
      <mat-form-field class="w-full">
        <mat-label>{{ t('knowledgeExercises.filter') }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.id') }} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="onShowDetail(element.id)">{{element.id}}</button>
          </td>
        </ng-container>

        <!-- Item type -->
        <ng-container matColumnDef="itemtype">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.type') }} </th>
          <td mat-cell *matCellDef="let element"> {{element.itemTypeString}} </td>
        </ng-container>

        <!-- Tags -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.tags') }} </th>
          <td mat-cell *matCellDef="let element"> {{element.tags ? element.tags.join(', ') : ''}} </td>
        </ng-container>

        <!-- Difficulty -->
        <ng-container matColumnDef="difficulty">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.difficulty') }} </th>
          <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
        </ng-container>

        <!-- Suggested Completion Time -->
        <ng-container matColumnDef="suggestedCompletionTime">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.estTime') }} </th>
          <td mat-cell *matCellDef="let element"> {{element.suggestedCompletionTime}} </td>
        </ng-container>

        <!-- Extra Info -->
        <ng-container matColumnDef="extraInfo">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.extraInfo') }} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="onShowExtraInfo(element.id)" [disabled]="!element.extraInfo">
              <mat-icon>description</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> {{ t('knowledgeExercises.rating') }} </th>
          <td mat-cell *matCellDef="let element">
            <mat-button-toggle-group [ngModel]="getRating(element.id)" aria-label="Rating"
              (change)="onContentRatingChanged(element, $event)">
              <mat-button-toggle [value]="1">1</mat-button-toggle>
              <mat-button-toggle [value]="2">2</mat-button-toggle>
              <mat-button-toggle [value]="3">3</mat-button-toggle>
              <mat-button-toggle [value]="4">4</mat-button-toggle>
              <mat-button-toggle [value]="5">5</mat-button-toggle>
            </mat-button-toggle-group>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page of items">
      </mat-paginator>
    </div>
    }
    @else if (contentToDisplay === ContentToDisplay.Detail) {
    <mat-toolbar class="container">
      <mat-toolbar-row>
        <span>
          <h5>{{ t('knowledgeExercises.title') }} {{ t('knowledgeExercises.detail') }}</h5>
        </span>
        <span class="toolbar-spacer"></span>
        <section style="padding-left: 8px;">
          <button mat-fab [matTooltip]="t('knowledgeExercises.previous')" (click)="onPreviousItem()"
            [disabled]="selectedElementIdx! <= 0">
            <mat-icon color="primary">arrow_left</mat-icon>
          </button>
          <span>{{selectedElement?.id}}</span>
          <button mat-fab [matTooltip]="t('knowledgeExercises.next')" (click)="onNextItem()"
            [disabled]="selectedElementIdx! >= dataSource.data.length - 1">
            <mat-icon color="primary">arrow_right</mat-icon>
          </button>
        </section>
        <span class="toolbar-spacer"></span>
        <section style="padding-left: 8px;">
          <div class="example-button-container">
            <button mat-fab extended [matTooltip]="t('knowledgeExercises.toggleAnswer')" (click)="onToggleAnswer()"
              [disabled]="!selectedElement?.hasAnswer">
              {{ t('knowledgeExercises.toggleAnswer') }}
            </button>
            <button mat-fab extended [matTooltip]="t('knowledgeExercises.toggleHintOfAnswer')"
              (click)="onToggleHintOfAnswer()" [disabled]="!selectedElement?.hasHintOfAnswer()">
              {{ t('knowledgeExercises.toggleHintOfAnswer') }}
            </button>
            <button mat-fab [matTooltip]="t('knowledgeExercises.backToList')" (click)="onBackToList()">
              <mat-icon>door_back</mat-icon>
            </button>
          </div>
        </section>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container knowledge-exercises-detail-view">
      <app-markdown-content [markdown]="markdownStr" [enableMath]="false" [imageBaseUrl]="currentImageBaseUrl"></app-markdown-content>
    </div>
    @if (showDetailAnswer) {
    <div class="container knowledge-exercises-detail-view">
      <mat-divider></mat-divider>
      {{ t('knowledgeExercises.answer') }}:
      <br />
      <app-markdown-content [markdown]="answerMarkdownStr" [enableMath]="false" [imageBaseUrl]="currentImageBaseUrl"></app-markdown-content>
    </div>
    }
    @if (showDetailHintOfAnswer) {
    <div class="container knowledge-exercises-detail-view">
      <mat-divider></mat-divider>
      {{ t('knowledgeExercises.hint') }}:
      <br />
      <app-markdown-content [markdown]="hintOfAnswerMarkdownStr" [enableMath]="false" [imageBaseUrl]="currentImageBaseUrl"></app-markdown-content>
    </div>
    }
    }
    @else if (contentToDisplay === ContentToDisplay.ExtraInfo) {
    <mat-toolbar class="container">
      <mat-toolbar-row>
        <span>
          <h5>{{ t('knowledgeExercises.title') }} {{ t('knowledgeExercises.extraInfo') }}</h5>
        </span>
        <span class="toolbar-spacer"></span>
        <section style="padding-left: 8px;">
          <button mat-fab [matTooltip]="t('knowledgeExercises.previous')" (click)="onPreviousItem()"
            [disabled]="selectedElementIdx! <= 0">
            <mat-icon color="primary">arrow_left</mat-icon>
          </button>
          <span>{{selectedElement?.id}}</span>
          <button mat-fab [matTooltip]="t('knowledgeExercises.next')" (click)="onNextItem()"
            [disabled]="selectedElementIdx! >= dataSource.data.length - 1">
            <mat-icon color="primary">arrow_right</mat-icon>
          </button>
        </section>
        <span class="toolbar-spacer"></span>
        <section style="padding-left: 8px;">
          <div class="example-button-container">
            <button mat-fab [matTooltip]="t('knowledgeExercises.backToList')" (click)="onBackToList()">
              <mat-icon>door_back</mat-icon>
            </button>
          </div>
        </section>
      </mat-toolbar-row>
    </mat-toolbar>
<div class="container knowledge-exercises-detail-view">
      <app-markdown-content [markdown]="getExtraInfoMarkdown()"
        [enableMath]="false" [imageBaseUrl]="currentImageBaseUrl"></app-markdown-content>
    </div>
    }
  </div>
</main>

<app-footer></app-footer>