<mat-card>
    <mat-card-header>
      <mat-card-title>{{'Award.Overview' | transloco}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container mat-elevation-z8">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Target user Column -->
            <ng-container matColumnDef="targetUser">
              <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let row">{{row.targetUser}}</td>
            </ng-container>

            <!-- Record Date Column -->
            <ng-container matColumnDef="recordDate">
              <th mat-header-cell *matHeaderCellDef>Record Date</th>
              <td mat-cell *matCellDef="let row">{{row.getRecordDateDisplayString()}}</td>
            </ng-container>

            <!-- Point -->
            <ng-container matColumnDef="point">
              <th mat-header-cell *matHeaderCellDef>Point</th>
              <td mat-cell *matCellDef="let row">{{row.point}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [length]="recordCount" [pageSize]="20"></mat-paginator>
      </div>
    </mat-card-content>
</mat-card>
