<nz-page-header>
  <nz-page-header-title>English Words</nz-page-header-title>
  <nz-page-header-subtitle></nz-page-header-subtitle>
</nz-page-header>
<div class="gutter-example">
  <div nz-row nzGutter="16" style="padding: 20px;">
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\blouse.png" alt="blouse" (click)="playPron('blouse')" />
      </div>
    </div>
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\dress.png" alt="dress" (click)="playPron('dress')" />
      </div>
    </div>
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\shirt.png" alt="shirt" (click)="playPron('shirt')" />
      </div>
    </div>
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\pants.png" alt="pants" (click)="playPron('pants')" />
      </div>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\cloth.png" alt="cloth" (click)="playPron('cloth')" />
      </div>
    </div>
    <div nz-col class="gutter-box" nzSpan="6">
      <div>
        <img class="word-picture" src="assets\img\jacket.png" alt="jacket" (click)="playPron('jacket')" />
      </div>
    </div>
  </div>
</div>
