<mat-toolbar>
    <h1>{{'Award.Point' | transloco}}</h1>
    <div class="toolbar-spacer"></div>
    <mat-form-field class="form-field-user">
        <mat-label>{{'Award.TargetUser' | transloco}}</mat-label>
        <mat-select required [(ngModel)]="selectedUser" (selectionChange)="onUserSelectionChange($event)">
            <mat-option *ngFor="let tu of arTargetUsers" [value]="tu.targetUser">{{tu.displayAs}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="onCreatePoint()" matTooltip="{{'Common.Create' | transloco}}">
        <mat-icon>add_circle</mat-icon>
    </button>    
</mat-toolbar>

<div echarts [options]="chartOption" (chartClick)="onChartClick($event)" class="demo-chart" style="width: 100%; height: 360px;">
</div>
