<mat-toolbar>
    <h1>{{'Award.Point' | transloco}}</h1>
    <div class="toolbar-spacer"></div>
    <button mat-icon-button color="primary" (click)="onCreatePoint()" matTooltip="{{'Common.Create' | transloco}}">
        <mat-icon>add_circle</mat-icon>
    </button>    
</mat-toolbar>

<div echarts [options]="chartOption" class="demo-chart" style="width: 100%; height: 360px;">
</div>

<div class="example-container mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSourceUserDate" class="mat-elevation-z8">
            <!-- Target user Column -->
            <ng-container matColumnDef="targetUser">
                <th mat-header-cell *matHeaderCellDef>{{'Award.TargetUser' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{getUserDisplayAs(row.targetUser)}} ({{row.targetUser}})</td>
            </ng-container>

            <!-- Record Date Column -->
            <ng-container matColumnDef="recordDate">
                <th mat-header-cell *matHeaderCellDef>{{'Quiz.Date' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.recordDateString}}</td>
            </ng-container>

            <!-- Point Column -->
            <ng-container matColumnDef="point">
                <th mat-header-cell *matHeaderCellDef>{{'Award.Point' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.point}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="recordCount" [pageSize]="20"></mat-paginator>
</div>

<div class="example-container mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSourceUserHabitDate" class="mat-elevation-z8">
            <!-- Target user Column -->
            <ng-container matColumnDef="targetUser">
                <th mat-header-cell *matHeaderCellDef>{{'Award.TargetUser' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{getUserDisplayAs(row.targetUser)}} ({{row.targetUser}})</td>
            </ng-container>

            <!-- Habit ID Column -->
            <ng-container matColumnDef="habitID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">{{row.habitID}}</td>
            </ng-container>

            <!-- Record Date Column -->
            <ng-container matColumnDef="recordDate">
                <th mat-header-cell *matHeaderCellDef>{{'Quiz.Date' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.recordDateString}}</td>
            </ng-container>

            <!-- Point Column -->
            <ng-container matColumnDef="point">
                <th mat-header-cell *matHeaderCellDef>{{'Award.Point' | transloco}}</th>
                <td mat-cell *matCellDef="let row">{{row.point}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
    </div>
    <mat-paginator [length]="recordCount" [pageSize]="20"></mat-paginator>
</div>
