<mat-card>
  <mat-card-header>
    <mat-card-title>{{'MathExercise.AdditionExercises' | transloco}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="quizControlFormGroup" *ngIf="!isQuizStarted" style="font-size:16px;">
      <!-- Quiz Item Count -->
      <mat-form-field>
        <input matInput type="number" placeholder="{{'Quiz.QuizItemCount' | transloco}}" formControlName="countControl" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="{{'Quiz.FailedFactor' | transloco}}" matTooltip="{{'Quiz.FailedFactorHint' | transloco}}" formControlName="failedFactorControl">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="control-full-width" fxLayout="row">
        <div fxFlex="50">
          <mat-form-field>
            <input matInput type="number" placeholder="{{'MathExercise.Summand' | transloco}}" formControlName="leftSummandControl"
              required>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput type="number" placeholder="{{'MathExercise.Summand' | transloco}}" formControlName="rightSummandControl"
              required>
          </mat-form-field>    
        </div>
      </div>

      <div class="control-full-width" fxLayout="row">
        <div fxFlex="50">
          <mat-form-field>
            <input matInput type="number" placeholder="{{'MathExercise.Addend' | transloco}}" formControlName="leftAddendControl"
              required>
          </mat-form-field>    
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput type="number" placeholder="{{'MathExercise.Addend' | transloco}}" formControlName="rightAddendControl"
              required>
          </mat-form-field>    
        </div>
      </div>
      <mat-form-field>
        <input matInput type="number" placeholder="{{ 'MathExercise.DecimalPlaces' | transloco }}" formControlName="decControl"/>
      </mat-form-field>
    <button mat-button (click)="onQuizStart()" [disabled]="!canStart()">{{'Common.Start' | transloco }}</button>
    </form>

    <div class="control-full-width" *ngIf="isQuizStarted">
      <div style="text-align:center">
        ({{QuizCursor + 1}} / {{QuizItems.length}})
      </div>

      <div #itemForm (keydown.enter)="onQuizSubmit()">
        <mat-form-field class="control-full-width" style="font-size: 72px; text-align: center;">
          <span matPrefix>{{QuizItems[QuizCursor].LeftNumber | number }} + {{QuizItems[QuizCursor].RightNumber | number}} =</span>
          <input matInput type="number" placeholder="{{'MathExercise.Result' | transloco}}" [(ngModel)]="QuizItems[QuizCursor].InputtedResult" required name="irst" autofocus>
        </mat-form-field>
      </div>

      <div class="example-button-row">
        <button mat-raised-button [disabled]="isPreviousButtonDisabled" (click)="onPrevious()">{{'Common.Previous' | transloco }}</button>
        <button mat-raised-button [disabled]="isSubmitButtonDisabled" (click)="onQuizSubmit()">{{NextButtonText | transloco}}</button>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>
</mat-card>
