<mat-toolbar-row>
  <span>{{'KnowledgeItem' | transloco}}</span>
  <span class="toolbar-spacer"></span>
  <section>
    <a mat-stroked-button [disabled]="!isExpertMode" routerLink="create">{{'Common.Create' | transloco}}</a>
    <a mat-stroked-button (click)="onGoToSearch()" [disabled]="!isExpertMode || dataSource.length <= 0">{{'Common.Search' | transloco}}</a>
    <a mat-stroked-button (click)="onGoToPreview()" [disabled]="!isExpertMode || dataSource.length <= 0">{{'Common.Preview' | transloco}}</a>
    <a mat-stroked-button [disabled]="!isExpertMode" (click)="onRefreshList()">{{'Common.Refresh' | transloco}}</a>
  </section>
</mat-toolbar-row>

<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-progress-spinner *ngIf="isLoadingResults"></mat-progress-spinner>
  </div> -->

  <div class="example-table-container">
    <!-- <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field> -->
    
    <table mat-table [dataSource]="dataSource" class="example-table" matSort (matSortChange)="resetPaging()">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          <div>
            {{row.ID}}
            <a mat-button [disabled]="!isExpertMode" routerLink="display/{{row.ID}}">{{'Common.Display' | transloco}}</a>
            <a mat-button [disabled]="!isExpertMode" routerLink="edit/{{row.ID}}">{{'Common.Change' | transloco}}</a>
            <a mat-button [disabled]="!isExpertMode" (click)="onDeleteItem(row.ID)">{{'Common.Delete' | transloco}}</a>
          </div>
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>{{'Category' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{getKnowledgeItemCategoryName(row.ItemCategory) | transloco}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>{{'Title' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.Title}}</td>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="createdat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedAt' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.CreatedAt | date: 'yyyy-M-d HH:mm:ss'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>
