<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{'MathExercise.DivisionExercises' | transloco}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="quizControlFormGroup" *ngIf="!isQuizStarted" style="font-size: 16px">
      <!-- Quiz Item Count -->
      <mat-form-field>
        <input matInput type="number" placeholder="{{ 'Quiz.QuizItemCount' | transloco }}" formControlName="countControl" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="{{ 'Quiz.FailedFactor' | transloco }}" matTooltip="{{ 'Quiz.FailedFactorHint' | transloco }}"
          formControlName="failedFactorControl" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="control-full-width" fxLayout="row">
        <div fxFlex="50" fxLayout="row">
          <div fxFlex="50">
            <mat-form-field>
              <input matInput type="number" placeholder="{{ 'MathExercise.Dividend' | transloco }}" formControlName="leftNumberControl" required />
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput type="number" placeholder="{{ 'MathExercise.Dividend' | transloco }}" formControlName="rightNumberControl" required />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex>
          <div fxFlex="50">
            <mat-form-field>
              <input matInput type="number" placeholder="{{ 'MathExercise.Divisor' | transloco }}" formControlName="leftNumber2Control" required />
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput type="number" placeholder="{{ 'MathExercise.Divisor' | transloco }}" formControlName="rightNumber2Control" required />
            </mat-form-field>
          </div>          
        </div>
      </div>
      <mat-form-field>
        <input matInput type="number" placeholder="{{ 'MathExercise.DecimalPlaces' | transloco }}" formControlName="decControl"/>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onQuizStart()" [disabled]="!canStart()">{{ "Common.Start" | transloco }}</button>
    </form>
  
    <div class="control-full-width" *ngIf="isQuizStarted">
      <div style="text-align: center">
        ({{ QuizCursor + 1 }} / {{ QuizItems.length }})
      </div>

      <div #itemForm (keydown.enter)="onQuizSubmit()">
        <div class="control-full-width" fxLayout="row">
          <mat-form-field fxFlex="60" style="font-size: 72px; text-align: center">
            <span matPrefix>{{ QuizItems[QuizCursor].Dividend }} ÷ {{ QuizItems[QuizCursor].Divisor }} =</span>
            <input matInput type="number" placeholder="{{ 'MathExercise.Quotient' | transloco }}" [(ngModel)]="QuizItems[QuizCursor].InputtedQuotient"
              required name="irst" #irst />
          </mat-form-field>
          <div fxFlex="10" style="font-size: 24px; text-align: center; vertical-align: bottom;">...</div>
          <mat-form-field fxFlex style="font-size: 72px; text-align: center">
            <input matInput type="number" placeholder="{{ 'MathExercise.Remainder' | transloco }}" [(ngModel)]="QuizItems[QuizCursor].InputtedRemainder"
              required name="irst2" #irst2 />
          </mat-form-field>
        </div>
      </div>
  
      <div class="example-button-row">
        <button mat-raised-button [disabled]="isPreviousButtonDisabled" (click)="onPrevious()">{{ "Common.Previous" | transloco }}</button>
        <button mat-raised-button [disabled]="isSubmitButtonDisabled" (click)="onQuizSubmit()">{{ NextButtonText | transloco }}</button>
      </div>
    </div>
  </mat-card-content>
  
  <mat-card-actions> </mat-card-actions>
</mat-card>
