<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{'KnowledgeBuilder' | transloco}}</h1>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button mat-button matTooltip="{{'Language' | transloco }}" [matMenuTriggerFor]="matMenuLanguage">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #matMenuLanguage="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
      <button mat-menu-item *ngFor="let lang of availableLanguages" (click)="switchLanguage(lang.value)">
        <mat-icon *ngIf="selectedLanguage === lang.value">check</mat-icon>
        {{lang.displayas | transloco}}
      </button>
    </mat-menu>

    <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen" matTooltip="{{'FullScreen' | transloco }}">
      <mat-icon>fullscreen</mat-icon>
    </button>

    <button mat-icon-button (click)="openCodeRepo()">
      <mat-icon aria-hidden="false" aria-label="Code Repo">code</mat-icon>
    </button>

    <span>0.1.40</span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">home</mat-icon> {{'WelcomePage' | transloco}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems | navItemFilter: 0" mat-list-item [routerLink]="[navItem.route]">
            {{navItem.name | transloco}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">school</mat-icon>{{'MathExercise.PrimarySchoolBasicMath' | transloco}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems | navItemFilter: 1" mat-list-item [routerLink]="[navItem.route]">
            {{navItem.name | transloco}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">library_books</mat-icon>{{'KnowledgeBuilder' | transloco}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems | navItemFilter: 7" mat-list-item [routerLink]="[navItem.route]">
            {{navItem.name | transloco}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">snooze</mat-icon>{{'PuzzleGames.PuzzleGames' | transloco}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems | navItemFilter: 3" mat-list-item [routerLink]="[navItem.route]">
            {{navItem.name | transloco}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">help_outline</mat-icon>{{'Help.About' | transloco}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems | navItemFilter: 6" mat-list-item [routerLink]="[navItem.route]">
            {{navItem.name | transloco}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-nav-list>
        <a mat-list-item (click)="snav.close()">{{'Common.Close' | transloco}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
