@use '../styles/constants';

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-root > app-component-sidenav {
  flex: 1;
}

app-root > router-outlet + .app-main-content,
app-root > router-outlet + app-component-sidenav {
  margin-top: 56px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

app-root > router-outlet + .app-main-content {
  margin-top: 56px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
