<mat-toolbar-row>
  <span>{{'PracticeHistories' | transloco}}</span>
  <span class="toolbar-spacer"></span>
  <section>
    <button mat-raised-button [disabled]="!isExpertMode" (click)="onGoToExerciseItems()" matTooltip="{{'ExerciseItem' | transloco}}">{{'ExerciseItem' | transloco}}</button>
    <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | transloco}}">
      <mat-icon>refresh</mat-icon>
    </button>
  </section>
</mat-toolbar-row>

<div style="margin: 8px;">
  <div *ngFor="let filter of filters; let idxfilter = index" fxLayout="row" fxLayoutGap="10px" class="control-full-width">
    <mat-form-field fxFlex="30">
      <mat-select placeholder="{{'Field' | transloco}}" [(ngModel)]="filter.fieldName" (selectionChange)="onFieldSelectionChanged(filter)">
        <mat-option *ngFor="let field of allFields" [value]="field.value">{{ field.displayas | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="15">
      <mat-select placeholder="{{'Operator' | transloco}}" [(ngModel)]="filter.operator">
        <mat-option *ngFor="let opr of allOperators | operatorFilter: filter.valueType" [value]="opr.value">{{ opr.i18nterm | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div [ngSwitch]="filter.valueType" fxFlex="50" fxLayout="row">
      <div *ngSwitchCase="1" fxLayout="row" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Value' | transloco}}" name="lvalue_1" [(ngModel)]="filter.value[0]">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Value' | transloco}}" name="hvalue_1" [(ngModel)]="filter.value[1]">
        </mat-form-field>    
      </div>
      <div *ngSwitchCase="3" fxLayout="row" fxLayoutGap="5px">
        <mat-form-field>
          <input matInput [(ngModel)]="filter.value[0]" [matDatepicker]="lvpicker" placeholder="{{'Value' | transloco}}">
          <mat-datepicker-toggle matSuffix [for]="lvpicker"></mat-datepicker-toggle>
          <mat-datepicker #lvpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="filter.value[1]" [matDatepicker]="hvpicker" placeholder="{{'Value' | transloco}}">
          <mat-datepicker-toggle matSuffix [for]="hvpicker"></mat-datepicker-toggle>
          <mat-datepicker #hvpicker></mat-datepicker>
        </mat-form-field>    
      </div>
      <div *ngSwitchCase="4" fxLayout="row">
        <mat-checkbox [(ngModel)]="filter.value[0]">
        </mat-checkbox>  
      </div>
      <div *ngSwitchDefault fxLayout="row">
        <input matInput type="text" placeholder="{{'Value' | transloco}}" name="lvalue_2" [(ngModel)]="filter.value[0]">        
      </div>
    </div>
    <button mat-button mat-icon-button aria-label="Add" (click)="onAddFilter()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button mat-icon-button aria-label="Clear" (click)="onRemoveFilter(idxfilter)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="control-full-width">
    <button mat-button aria-label="Search" color="primary" (click)="onSearch()">
      <mat-icon>search</mat-icon>
      {{'Common.Search' | transloco}}
    </button>
  </div>
</div>

<mat-toolbar-row>
  <section>
    <button mat-icon-button color="accent" (click)="onGoToPreview()" [disabled]="!isExpertMode || dataSource.length <= 0" matTooltip="{{'Common.Preview' | transloco}}">
      <mat-icon>slideshow</mat-icon>
    </button>
    <button mat-icon-button color="accent" [disabled]="!isExpertMode" (click)="onRefreshList()" matTooltip="{{'Common.Refresh' | transloco}}">
      <mat-icon>refresh</mat-icon>
    </button>
  </section>
</mat-toolbar-row>

<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="example-table" matSort (matSortChange)="resetPaging()">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          {{row.ID}}
          <button mat-icon-button color="warn" [disabled]="!isExpertMode" (click)="onDeleteItem(row.ID)" matTooltip="{{'Common.Delete' | transloco}}">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- RefID Column -->
      <ng-container matColumnDef="refid">
        <th mat-header-cell *matHeaderCellDef>{{'ExerciseItem' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.RefID}}</td>
      </ng-container>

      <!-- Taken Date Column -->
      <ng-container matColumnDef="takendate">
        <th mat-header-cell *matHeaderCellDef>{{'Quiz.Date' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.TakenDate | date: 'yyyy-M-d'}}</td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>{{'Quiz.Score' | transloco}}</th>
        <td mat-cell *matCellDef="let row">{{row.Score}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
</div>
