<main focusOnNavigation aria-label="Knowledge Exercise" class="knowledge-exercises-detail-v2-page">
    <div class="knowledge-exercises-detail-v2-page-content" *transloco="let t">
        <mat-toolbar class="container">
            <mat-toolbar-row>
                <span>
                    <h5>{{ t('knowledgeExercises.detailV2Title') }}</h5>
                </span>
                <span class="toolbar-spacer"></span>
                <button mat-button [useExistingCss]="true" printSectionId="print-section" ngxPrint>{{ t('print') }}</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="mat-elevation-z8 print-container">
            <div id="print-section">
                <app-markdown-content [markdown]="markdownStr" [enableMath]="includeLatex || false" [imageBaseUrl]="imageBaseUrl"></app-markdown-content>
                <div class="page-break"></div>
                <app-markdown-content [markdown]="markdownAdditionStr" [enableMath]="includeLatex || false" [imageBaseUrl]="imageBaseUrl"></app-markdown-content>
            </div>
        </div>
    </div>
</main>
