<mat-vertical-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Choose quiz type</ng-template>
    <div>
      <label id="example-radio-group-label">Quiz type</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="chosenType">
        <mat-radio-button class="example-radio-button" *ngFor="let qtype of quizTypes" [value]="qtype">
          {{qtype}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="chosenType == 'Arithmetic'">
        <span class="example-list-section">
          <ul>
            <li><mat-checkbox [(ngModel)]="addMode">Addition</mat-checkbox></li>
            <li><mat-checkbox [(ngModel)]="subMode">Subtraction</mat-checkbox></li>
            <li><mat-checkbox [(ngModel)]="multiMode">Multiplication</mat-checkbox></li>
            <li><mat-checkbox [(ngModel)]="divisionMode">Division</mat-checkbox></li>
          </ul>
        </span>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
