.mat-stepper-vertical {
  margin-top: 8px;
}
  
.mat-form-field {
  margin-top: 16px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
