<mat-toolbar>
    <h1>{{'Habit.Habit' | transloco}}</h1>
    <div class="toolbar-spacer"></div>
    <h3>{{'Common.Create' | transloco}}</h3>
</mat-toolbar>

<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{'Habit.Habit' | transloco}}</ng-template>
            <!-- Target user -->
            <mat-form-field class="control-full-width" appearance="fill">
                <mat-label>{{'Award.TargetUser' | transloco}}</mat-label>
                <mat-select formControlName="targetuserCtrl">
                <mat-option *ngFor="let tu of arTargetUsers" [value]="tu.targetUser">{{tu.displayAs}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Name -->
            <mat-form-field class="control-full-width" appearance="fill">
                <mat-label>{{'Common.Name' | transloco}}</mat-label>
                <input matInput required formControlName="nameCtrl">
            </mat-form-field>

            <!-- Validity range -->
            <mat-form-field appearance="fill">
                <mat-label>{{'Award.Validity' | transloco}}</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="validFromCtrl" placeholder="Start date">
                <input matEndDate formControlName="validToCtrl" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <!-- Frequency -->
            <mat-form-field appearance="fill" class="control-full-width">
                <mat-label>{{'Habit.Frequency' | transloco}}</mat-label>
                <mat-select required formControlName="freqCtrl">
                <mat-option *ngFor="let et of arFrequencies" [value]="et.value">{{et.i18nterm | transloco}}</mat-option>
                </mat-select>
                <mat-hint>{{'Habit.FrequencyHint' | transloco}}</mat-hint>
            </mat-form-field>

            <!-- Complete Category -->
            <mat-form-field appearance="fill" class="control-full-width">
                <mat-label>{{'Habit.CompleteCategory' | transloco}}</mat-label>
                <mat-select required formControlName="compCtgyCtrl">
                <mat-option *ngFor="let et of arCompleteCategories" [value]="et.value">{{et.i18nterm | transloco}}
                </mat-option>
                </mat-select>
                <mat-hint>{{'Habit.CompleteCategoryHint' | transloco}}</mat-hint>
            </mat-form-field>

            <!-- Complete Condition -->
            <mat-form-field class="control-full-width" appearance="fill">
                <mat-label>{{'Habit.CompleteCondition' | transloco}}</mat-label>
                <input matInput type="number" formControlName="compCondCtrl">
                <mat-hint>{{'Habit.CompleteConditionHint' | transloco}}</mat-hint>
            </mat-form-field>

            <!-- Start Date -->
            <mat-form-field class="control-full-width" appearance="fill">
                <mat-label>{{'Habit.StartDate' | transloco}}</mat-label>
                <input matInput type="number" formControlName="startDateCtrl">
                <mat-hint>{{'Habit.StartDateHint' | transloco}}</mat-hint>
            </mat-form-field>
        </form>
        <div>
            <button mat-button color="primary" matStepperNext>{{'Common.Next' | transloco}}</button>
          </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{'Award.ContinuousDays' | transloco}}</ng-template>
            <mat-form-field>
              <mat-label>{{'Award.ContinuousDays' | transloco}}</mat-label>
              <input matInput formControlName="rawCtrl">
            </mat-form-field>
        </form>
        <mat-list dense *ngFor="let cd of contDays">
            <mat-list-item>{{cd.toString()}}</mat-list-item>
        </mat-list>
        <div>
            <button mat-button matStepperPrevious>{{'Common.Previous' | transloco}}</button>
            <button mat-button color="primary" (click)="onInitialRules()" matStepperNext>{{'Common.Next' | transloco}}</button>
        </div>
    </mat-step>
    <mat-step [completed]="pointCompleted">
        <ng-template matStepLabel>{{'Award.Point' | transloco}}</ng-template>
        <mat-toolbar>
          <button mat-raised-button disabled>RESET RULES</button>
        </mat-toolbar>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>
              <span *ngIf="col === 'dimension'">
                {{'Dimension' | transloco}}
              </span>
              <span *ngIf="col !== 'dimension'">
                {{getColumnHeaderForDays(col)}}
              </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="col === 'dimension'">
                {{element.dimInfo.toString()}}
              </span>
              <span *ngIf="col !== 'dimension'">
                <input matInput type="number" [(ngModel)]="element.points[col]" (ngModelChange)="onPointCellChanged($event)">
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>    
    
        <button mat-button matStepperPrevious>{{'Common.Previous' | transloco}}</button>
        <button mat-button color="primary" [disabled]="!pointCompleted" (click)="onSave()" matStepperNext>{{'Common.Next' | transloco}}</button>
      </mat-step>
    
</mat-vertical-stepper>
