<main focusOnNavigation aria-label="Translate Exercise page" class="translate-page">
  <div class="translate-page-content">
    @switch (mode()) {
      @case ('review') {
        <app-translate-exercises-review-session
          (quit)="onQuitReview()">
        </app-translate-exercises-review-session>
      }
      @case ('typing') {
        <app-translate-exercises-typing-session
          (quit)="onQuitTyping()">
        </app-translate-exercises-typing-session>
      }
      @case ('typingresult') {
        <app-translate-exercises-typing-result
          (backToList)="onQuitTyping()">
        </app-translate-exercises-typing-result>
      }
      @case ('quiz') {
        <app-translate-exercises-quiz-session
          (quit)="onQuitQuiz()">
        </app-translate-exercises-quiz-session>
      }
      @case ('quizresult') {
        <app-translate-exercises-quiz-result
          (backToList)="onQuitQuiz()">
        </app-translate-exercises-quiz-result>
      }
      @default {
        <app-translate-exercises-sentence-list
          [allFiles]="allFiles()"
          [(selectedFile)]="selectedFile"
          [isLoadingContents]="isLoadingContents()"
          [dataSource]="dataSource"
          [selection]="selection"
          [contentRatings]="contentRatingMap()"
          [filterDefinition]="filterDefinition()"
          [appliedFreeText]="freeText()"
          (fileSelectionChanged)="onFileSelectionChanged($event)"
          (freeTextChanged)="onFreeTextChanged($event)"
          (defineFilter)="onDefineFilter()"
          (clearFilter)="onClearFilter()"
          (quickSelect)="onQuickSelect($event)"
          (selectAllVisible)="onSelectAllVisible()"
          (clearSelection)="onClearSelection()"
          (allRowsToggled)="toggleAllRows()"
          (contentRatingChanged)="onContentRatingChanged($event.item, $event.event)"
          (playTts)="onPlayTTS($event)"
          (llmExplain)="onLLMExplain($event)"
          (showExplanation)="onShowExplanation($event)"
          (showExtraInfo)="onShowExtraInfo($event)"
          (translate)="onTypingWithOptions()"
          (review)="onReviewWithOptions()"
          (quiz)="onQuizWithOptions()"
          (print)="onPrintWithOptions()">
        </app-translate-exercises-sentence-list>
      }
    }
  </div>
</main>

<app-footer></app-footer>
