:host,
.translate-page {
  // Ensures that the footer is pushed to the bottom if the page is too short.
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.translate-page-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.result-content {
  width: 100%;
  margin: 24px;
}
