<main focusOnNavigation aria-label="Chinese Exercise page" class="chinese-exercises-page">
  <div class="chinese-exercises-page-content">
    <app-chinese-exercises-list
      [allFiles]="allFiles()"
      [(selectedFile)]="selectedFile"
      [isLoadingContents]="isLoadingContents()"
      [dataSource]="dataSource"
      [selection]="selection"
      [contentRatings]="contentRatingMap()"
      [filterDefinition]="filterDefinition()"
      [appliedFreeText]="freeText()"
      (fileSelectionChanged)="onFileSelectionChanged($event)"
      (freeTextChanged)="onFreeTextChanged($event)"
      (defineFilter)="onDefineFilter()"
      (clearFilter)="onClearFilter()"
      (quickSelect)="onQuickSelect($event)"
      (selectAllVisible)="onSelectAllVisible()"
      (clearSelection)="onClearSelection()"
      (allRowsToggled)="toggleAllRows()"
      (contentRatingChanged)="onContentRatingChanged($event.item, $event.event)"
      (recite)="onStartWithOptions()"
      (print)="onPrintWithOptions()">
    </app-chinese-exercises-list>
  </div>
</main>

<app-footer></app-footer>
