.container {
  width: 100%;
  height: 100%;
}

.main {
  width: 600px;
  height: 500px;
}

.canvas-container canvas{
  position:absolute;
}

.canvas-container {
  background-color: #000000;
  margin-top: 16px;
  margin-left: 32px;
}
