<nz-spin [nzSpinning]="isLoadingResults" [nzDelay]="500">
  <nz-page-header nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/knowledge">Knowledge</a></nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>Knowledge</nz-page-header-title>
    <nz-page-header-subtitle>{{currentMode | translate}}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary" [disabled]="!detailForm.valid"
        (click)="submitForm(detailForm.value)">Save</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-page-header-extra>
  </nz-page-header>
  <div nz-row>
    <form nz-form [formGroup]="detailForm" (ngSubmit)="submitForm(detailForm.value)">
      <!-- ID -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">ID</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="idControl" />
        </nz-form-control>
      </nz-form-item>

      <!-- Category -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Category</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ctgyErrorTpl">
          <nz-select
            id="category"
            formControlName="ctgyControl"
            nzPlaceHolder="Select a category"
            (ngModelChange)="categoryChange($event)">
            <nz-option nzValue="0" nzLabel="Concept"></nz-option>
            <nz-option nzValue="1" nzLabel="Forumula"></nz-option>
          </nz-select>
          <ng-template #ctgyErrorTpl let-control>
            <ng-container *ngIf="ctgyControl.hasError('required')">
              Please select your category
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameErrorTpl">
          <input nz-input type="text" formControlName="nameControl" placeholder="Name" />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="nameControl.hasError('required')">
              Please input name!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Content -->
      <nz-form-item>
        <app-acmarkdown-editor required maxlength="500" formControlName="contentControl" instanceID="knowledgeDetailID">
        </app-acmarkdown-editor>
      </nz-form-item>
    </form>
  </div>
</nz-spin>