<h1 mat-dialog-title>Sentences Exercise</h1>
<div mat-dialog-content class="dialog-content">
    <p>Index {{currentIdx + 1}}</p>

    <mat-form-field class="field-full-width">
        <mat-label>Explain</mat-label>
        <textarea matInput readonly [ngModel]="sents[currentIdx].explain" rows="5"></textarea>
    </mat-form-field>

    <div *ngIf="testingMode">
        <mat-form-field class="field-full-width">
            <mat-label>Answer</mat-label>
            <textarea matInput [(ngModel)]="inputs[currentIdx].inputted" rows="5"></textarea>
        </mat-form-field>    
    </div>

    <div *ngIf="!testingMode">
        <nu-monaco-diff-editor [options]="editorOptions" [old]="originalModel" [new]="modifiedModel"></nu-monaco-diff-editor>
    </div>

    <mat-paginator #paginator [length]="sents.length" pageSize="1" showFirstLastButtons
        (page)="handlePageEvent($event)" hidePageSize="true" [pageIndex]="currentIdx">
    </mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Abandon</button>
    <button mat-button cdkFocusInitial (click)="onSubmit()">Submit</button>
    <button mat-button [mat-dialog-close]="data.score" cdkFocusInitial>Close</button>
</div>
