<mat-toolbar-row>
  <h4>English Learning</h4>
  <span class="example-spacer"></span>
  <mat-form-field *ngIf="!isPreviewMode">
    <mat-label>Collection</mat-label>
    <mat-select [(value)]="selectedCollection" (selectionChange)="onCollectionSelectionChanged($event)">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let coll of allCollections" [value]="coll">{{coll}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" *ngIf="!isPreviewMode" (click)="onStartPreview()">Preview</button>
  <button mat-raised-button *ngIf="isPreviewMode" (click)="onPreviousPreviewItem()" [disabled]="!isPreviousButtonEnabled">{{'Common.Previous' | transloco}}</button>
  <span *ngIf="isPreviewMode" style="margin-left: 8px; margin-right: 8px;"> {{prvIndex + 1}} / {{dataSource.filteredData.length}}</span>
  <button mat-raised-button *ngIf="isPreviewMode" (click)="onNextPreviewItem()" [disabled]="!isNextPreviewButtonEnabled">{{'Common.Next' | transloco}}</button>
  <button mat-raised-button color="primary" *ngIf="isPreviewMode" (click)="onStopPreview()">Stop Preview</button>
  <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
</mat-toolbar-row>
<div *ngIf="isPreviewMode">
  <div style="width: 100%; height: 100%; margin: 32px;">
    <markdown ngPreserveWhitespaces [src]="mdFilePath" katex [katexOptions]="mathOptions"></markdown>
  </div>
</div>
<div *ngIf="!isPreviewMode">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>{{'Common.Title' | transloco}}</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
  
    <!-- Folder Column -->
    <ng-container matColumnDef="folder">
      <th mat-header-cell *matHeaderCellDef>{{'Common.Folder' | transloco}}</th>
      <td mat-cell *matCellDef="let element">{{element.folder}}</td>
    </ng-container>
  
    <!-- File Column -->
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef>{{'Common.File' | transloco}}</th>
      <td mat-cell *matCellDef="let element">{{element.file}}</td>
    </ng-container>
  
    <!-- Collection Column -->
    <ng-container matColumnDef="collection">
      <th mat-header-cell *matHeaderCellDef>{{'Common.Collection' | transloco}}</th>
      <td mat-cell *matCellDef="let element">{{element.collection}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onClick(row)" *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
    aria-label="Select page of sentences">
  </mat-paginator>  
</div>
