.example-form {
    margin: 8px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.control-full-width {
  width: 100%;
}
  
td {
  padding-right: 8px;
}

table {
  width: 100%;
}

.mat-card-actions {
  margin-top: 50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
