<mat-card>
    <mat-card-header>
        <mat-card-title>Knowledge Item</mat-card-title>
        <mat-card-subtitle>{{currentMode}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="itemFormGroup">
            <!-- ID -->
            <div class="achih-control-full-width" *ngIf="!isCreateMode">
            </div>

            <!-- Title -->
            <mat-form-field>
                <input matInput type="text" placeholder="Title" formControlName="titleControl"
                    name="title" #accountname maxlength="30">
                <mat-hint align="end">{{accountname.value.length}} / 30</mat-hint>
            </mat-form-field>

            <!-- Content -->
            <mat-form-field>
              <textarea matInput placeholder="Content" formControlName="contentControl"></textarea>
            </mat-form-field>
        </form>

        <div>
            <button mat-button (click)="onOK()">OK</button>
        </div>
    </mat-card-content>
</mat-card>
